
<h1>Edit my account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"basic-form" }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div>
   <%= f.label :description %>
   <%= f.text_area :description, rows: 10, placeholder: "Maximum length is 512 characters" %>
  </div>

  <div>
    <%= f.label :new_password %><i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :confirm_new_password %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :current_password %><i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", :class=>"mock-btn" %>
    <%= link_to "Close account", registration_path(resource_name), data: { confirm: "Are you sure? This will permanently remove your account and all publications associated with it." }, method: :delete, :class=>"mock-btn del" %>
    <br />
    <i>This will remove your account, your existing content will however remain (you cannot reclaim a closed account)</i>
  </div>
<% end %>
