<h1>Forthlight registration</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class:"basic-form"}) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :role %>
    <%= f.select(:role, SimpleRoles.config.valid_roles.map.with_index {|x, i| i = x.capitalize, x}) %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
    <%= f.check_box(:terms) %>
    I've read and accepted the <%= link_to "terms and conditions", "/resources/terms_and_conditions_regular.pdf", target: :blank, id: "terms-conditions" %>
  </div>

  <div>
    <%= f.submit "Sign up", :class=>"mock-btn" %>
  </div>

  <%= render "users/shared/links" %>
<% end %>


